* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

.box-one {
	background-color: antiquewhite;
	padding: 2px;
	margin: 10px;
	border: 30px solid #1b4d69;
}

.box-two {
	background-color: antiquewhite;
	padding: 2px;
	margin: 10px;
	border: 30px solid #5a9658;
}